* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: #f2f2f2; */
  background: #283747 ;
  font-family: 'Russo One', sans-serif;
  line-height: 1.6;
  justify-content: center;
  height: 100vh;
  align-items: center;
  display: flex;
}

/* Container */
#container {
  /* background: #ecf0f3; */
  background: #283747;
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px white; */
  box-shadow: 14px 14px 20px #233240 ,-10px -10px #3d4e61 ;
}
.form-icon {
  color:#ddd;
  font-size: 55px;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  box-shadow: 7px 7px 10px #1a2c3f , -5px -5px #395068 ;
}
.title {
  color: #ddd;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#container input {
  color: #ccc;
  background: #1a2c3f;
  font-size: 15px;
  height: 50px;
  padding: 20px;
  letter-spacing: 1px;
  border: none;
  border-radius: 50px;
  box-shadow: inset 3px 3px #061425,inset -3px -3px #395068;
  width: 100%;
  margin-bottom:25px;
  outline: none;
  transition: all 0.3s ease;
}
::placeholder {
  font-size: 16px;
  color: #808080;
  font-weight: bold;
}

.btn {
  background: #1a2c3f;
  color: #ddd;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border-radius: 50px;
  border: none;
  box-shadow: 6px 6px 6px #0c1620,-6px -6px 4px #354d68; display: inline-block;

  padding: 12px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  color: #354d68;
}